#{extends 'main.html' /}
#{set title:'DentoX2 : New Patient' /}

<div class="block" id="block-text">
          <div class="secondary-navigation">
            <ul>
		<li><a href="@{AppOffice.index()}">About</a></li>
		<li class="active first"><a href="@{AppOffice.clinic_table()}">Clinic Info</a></li>
		<li><a href="@{AppOffice.doctor_table()}">Dentist Info</a></li>
		<li><a href="@{AppOffice.dentistShedule()}">Dentist Shedule</a></li>
		<li><a href="#">Reminders</a></li>
	    </ul>
	    <div class="clear"></div>
          </div>
          <div class="content">
            <h2 class="title">Clinic Shedule Form</h2>
            <div class="inner">

            #{ifnot clinic?.id}
                <h3>Write, <span>a Clinic History</span></h3>
            #{/ifnot}
            #{else}
                <h3>Edit, <span>this post</span></h3>
            #{/else}
             
            #{form @saveClinic(clinic?.id)}
                #{ifErrors}
                <div  class="flash">
                <div class="message error">
                  <p>Oops ! Please check the Erros .</p>
                </div>
                </div>
                #{/ifErrors}
                
                <input type="hidden" name="clinic.id" value="${clinic?.id}">
                 
                <p>
                    #{field 'clinicID'}
                    <label>Clinic ID:</label>
                    <input type="text" name="clinicID" 
                        value="${clinic?.clinicID}" class="${field.errorClass}" />
                    <span class="error">${errors.forKey('clinic.clinicID')}</span>
                    #{/field}

                </p>
                
                <p>
                    #{field 'name'}
                    <label>Clinic Name:</label>
                    <input type="text" name="name" 
                        value="${clinic?.name}" class="${field.errorClass}" />
                    <span class="error">${errors.forKey('clinic.name')}</span>
                    #{/field}
                </p>

                <p>
                    #{field 'name'}
                    <label>Branch Name:</label>
                    <input type="text" name="branch" 
                        value="${clinic?.branch}" class="${field.errorClass}" />
                    <span class="error">${errors.forKey('clinic.branch')}</span>
                    #{/field}
                </p>


                <p>
                    #{field 'phoneNumber'}
                    <label>Phone Number:</label>
                    <input type="text" name="phoneNumber" 
                        value="${clinic?.phoneNumber}" class="${field.errorClass}" />
                    <span class="error">${errors.forKey('clinic.phoneNumber')}</span>
                    #{/field}
                </p>

                <p>
                    #{field 'openAt'}
                    <label>Opening Time:</label>
                    <input type="text" name="openAt" id="openAt"
                        value="${clinic?.openAt?.format('yyyy-MM-dd hh:mm:ss')}" class="${field.errorClass}" />
                    <span class="error">${errors.forKey('clinic.openAt')}</span>
                    #{/field}
                </p>

                <p>
                    #{field 'closeAt'}
                    <label>Close Time:</label>
                    <input type="text" name="closeAt" id="close-at"
                        value="${clinic?.closeAt?.format('yyyy-MM-dd')}" class="${field.errorClass}" />
                    <span class="error">${errors.forKey('clinic.closeAt')}</span>
                    #{/field}
                </p>
                <br>
                <p>
                    <input type="submit" value="Create an new entry" />
                </p>

	  	  <script type="text/javascript" charset="utf-8">
	  	      $("#openAt").datepicker({dateFormat:'yy-mm-dd', showAnim:'fadeIn'})
	  	  </script>

	  	  <script type="text/javascript" charset="utf-8">
	  	      $("#close-at").datepicker({dateFormat:'yy-mm-dd', showAnim:'fadeIn'})
	  	  </script>
                  
            #{/form}
            </div>
          </div>
        </div>
