#{extends 'Secure/layout.html' /}
    <div id="box">
	<!-- 
      <h1>DentoX2 : A System For Dentist !</h1>
      -->
      <div class="block" id="block-login">
        <h2>DentoX2 : Administration</h2>
	<div class="content login">
          <div class="flash">
            <div class="message notice">
		#{form @authenticate()}
		
		<div class="flash">
		  <div class="message notice">
		#{if flash.error}
			<p class="error">
				&{flash.error}
			</p>
		#{/if}
		#{if flash.success}
			<p class="success">
				&{flash.success}
			</p>
		#{/if}
            </div>
          </div>
          <form action="#" class="form login">
	    <div class="group">
              <div class="left">
	<p>
		<label for="username">&{'secure.username'}&nbsp</label>
		<input type="text" name="username" id="username" value="${flash.username}" />
	</p>
		<label for="password">&{'secure.password'}</label>
	
			<input type="password" name="password" id="password" value="" />
	<p>
			<input type="checkbox" name="remember" id="remember" value="true" ${flash.remember ? 'checked="true"' : ''} />
			<label for="remember">&{'secure.remember'}</label>
	</p>
	     	<input type="submit" id="signin" value="&{'secure.signin'}" />
		<a href="@{Dentox.index()}"> Cancel </a>
		#{/form}
            </div>
          </form>
        </div>
      </div>
