#{extends 'main.html' /}
#{set title:'DentoX2 : New Doctor' /}

<div class="block" id="block-text">
          <div class="secondary-navigation">
          <ul>
		<li><a href="@{AppOffice.index()}">About</a></li>
		<li><a href="@{AppOffice.clinic_table()}">Clinic Info</a></li>
		<li><a href="@{AppOffice.doctor_table()}">Dentist Info</a></li>
		<li  class="active first"><a href="@{AppOffice.dentistShedule()}">Dentist Shedule</a></li>
		<li><a href="#">Reminders</a></li>
	    </ul>
            <div class="clear"></div>
          </div>
          <div class="content">
            <h2 class="title">Dentist Shedule Form</h2>
            <div class="inner">

            #{ifnot dentShedule?.id}
                <h3>Enter , <span>Dentist shedule</span></h3>
            #{/ifnot}
            #{else}
                <h3>Edit, <span>Shedule entry</span></h3>
            #{/else}
             
            #{form @saveDentistShedule(dentShedule?.id)}
                #{ifErrors}
                <div  class="flash">
                <div class="message error">
                  <p>Oops ! Please check the Erros .</p>
                </div>
                </div>
                #{/ifErrors}
                
                <input type="hidden" name=".id" value="${dentShedule?.id}">

                <br><hr>                 
                <p>
                    #{field 'PIN'}
                    <label>Doctor's PIN:</label>
                    <input type="text" name="PIN" 
                        value="${dentShedule?.PIN}" class="${field.errorClass}" />
                    <span class="error">${errors.forKey('dentShedule.PIN')}</span>
                    #{/field}
                </p>
                <br><hr>                 
                <p>
                    #{field 'firstName'}
                    <label>Doctor's First Name:</label>
                    <input type="text" name="firstName" 
                        value="${dentShedule?.firstName}" class="${field.errorClass}" />
                    <span class="error">${errors.forKey('dentShedule.firstName')}</span>
                    #{/field}
                </p>
                <br><hr>
                <p>
                    #{field 'lastName'}
                    <label>Doctor's Last Name:</label>
                    <input type="text" name="lastName" 
                        value="${dentShedule?.lastName}" class="${field.errorClass}" />
                    <span class="error">${errors.forKey('dentShedule.lastName')}</span>
                    #{/field}
                </p>
                <br><hr>
                <p>
                    #{field 'gender'}
                    <label>Gender :</label>
                    <select name="gender" 
                        value="${dentShedule?.gender}" class="${field.errorClass}" />
			      <option>Male</option>
			      <option>Female</option>
		    </select>
                    <span class="error">${errors.forKey('dentShedule.gender')}</span>
                    #{/field}
                </p>
                <br><hr>
                <p>
                    #{field 'startAt'}
                    <label>From:</label>
                    <input type="text" name="startAt" id="startAt"
                        value="${dentShedule?.startAt?.format('yyyy-MM-dd')}" class="${field.errorClass}" />
                    <span class="error">${errors.forKey('dentShedule.startAt')}</span>
                    #{/field}
                </p>
                <br><hr>
                <p>
                    #{field 'endAt'}
                    <label>To:</label>
                    <input type="text" name="endAt" id="endAt"
                        value="${dentShedule?.endAt?.format('yyyy-MM-dd')}" class="${field.errorClass}" />
                    <span class="error">${errors.forKey('dentShedule.endAt')}</span>
                    #{/field}
                </p>
                
                <br><hr>
                <p>
                    <input type="submit" value="Create Doctor" />
                </p>
                <br><hr>
	  	  <script type="text/javascript" charset="utf-8">
	  	      $("#startAt").datepicker({dateFormat:'yy-mm-dd', showAnim:'fadeIn'})
	  	  </script>

	  	  <script type="text/javascript" charset="utf-8">
	  	      $("#endAt").datepicker({dateFormat:'yy-mm-dd', showAnim:'fadeIn'})
	  	  </script>
                
            #{/form}
            </div>
          </div>
        </div>
