#{extends 'main.html' /}
#{set title:clinic.name /}

            <div class="block" id="block-tables">
          <div class="secondary-navigation">
            <ul>
		<li><a href="@{AppOffice.index()}">About</a></li>
		<li class="active first"><a href="@{AppOffice.clinic_table()}">Clinic Info</a></li>
		<li><a href="@{AppOffice.doctor_table()}">Dentist Info</a></li>
		<li><a href="@{AppOffice.dentistShedule()}">Dentist Shedule</a></li>
		<li><a href="#">Reminders</a></li>
	    </ul>	    <div class="clear"></div>
          </div>
          <div class="content">
            <h2 class="title">
		Clinic's Detail : ${clinic.name}
                <!-- 
		<form align="right">
			<input type="text"><input type="submit" value="Search Patient">
		</form>
	  -->
		    
	    </h2>
                        <div class="inner">
                          <form action="#" class="form">
                            <table class="table">
                                <tr>
                                <!-- 
                                    #{if flash.success}
                                    <p class="success">${flash.success}</p>
                                    #{/if}
                                    -->
				    #{if clinic}
					#{display clinic:clinic,as:"fullClinic" /}
				    #{/if}
                                    
                                        
				</tr>
				
                        </table>
                    </form>
                </div>
          </div>
          </div>