#{extends 'main.html' /}
#{set title:'DentoX2 : New Patient' /}

<div class="block" id="block-text">
          <div class="secondary-navigation">
            <ul>
		<li><a href="@{AppPatient.index()}">About</a></li>
		<li><a href="@{AppPatient.patient_table}">Patient's Table</a></li>
		<li><a href="@{AppPatient.patientCharting()}">Charting</a></li>
		<li><a href="@{AppPatient.patientDocument()}">Document</a></li>
		<li class="active first"><a href="@{AppPatient.patientReminder()}">Reminders</a></li>
		<li><a href="@{AppPatient.patientList()}">Lists</a></li>    
	    </ul>
            <div class="clear"></div>
          </div>
          <div class="content">
            <h2 class="title">Tasks</h2>
            <div class="inner">

            #{ifnot patientTask?.id}
                <h3>Create, <span>a new Task</span></h3>
            #{/ifnot}
            #{else}
                <h3>Edit, <span>this Task</span></h3>
            #{/else}
             
            #{form @addTask(patientTask?.id)}
                #{ifErrors}
                <div  class="flash">
                <div class="message error">
                  <p>Oops ! Please check the Errors .</p>
                </div>
                </div>
            #{/ifErrors}
                
                <input type="hidden" name="patientTask.id" value="${patientTask?.id}">
                <br><hr>
                <p>
                    #{field 'doctor'}
                    <label>Doctor's Name :</label>
                    <input type="text" name="doctor" 
                        value="${patientTask?.doctor}" class="${field.errorClass}" />
                    <span class="error">${errors.forKey('patientTask.doctor')}</span>
                    #{/field}
                </p>
		<br><hr>
                <p>
                    #{field 'task'}
                    <label>Task  :</label>
                    <input type="text" name="task" 
                        value="${patientTask?.task}" class="${field.errorClass}" />
                    <span class="error">${errors.forKey('patientTask.task')}</span>
                    #{/field}
                </p>
		<br><hr>
                <p>
                    #{field 'note'}
                    <label>Task  :</label>
                    <input type="text" name="note" 
                        value="${patientTask?.note}" class="${field.errorClass}" />
                    <span class="error">${errors.forKey('patientTask.note')}</span>
                    #{/field}
                </p>
		<br><hr>
                <p>
                    #{field 'dueAt'}
                    <label>Due Date:</label>
                    <input type="text" name="dueDate" id="dueDate" 
                        value="${patientTask?.dueDate?.format('yyyy-MM-dd')}" class="${field.errorClass}" />
                    <span class="error">${errors.forKey('patientTask.dueDate')}</span>
                    #{/field}
                </p>
		<br><hr><br>
                <p>
                    <input type="submit" value="Add new task" />
                </p>
                <br><hr>
	  	  <script type="text/javascript" charset="utf-8">
	  	      $("#dueDate").datepicker({dateFormat:'yy-mm-dd', showAnim:'fadeIn'})
	  	  </script>
                  
            #{/form}
            </div>
          </div>
        </div>
