/*  Login */

* {margin:0;padding:0}
.clear { clear: both; height: 0; }

h1 { margin: 15px 0; font-size: 22px; font-weight: normal; }
h2 { font-size: 22px; margin: 15px 0; font-weight: normal;}
h3 { font-size: 18px; margin: 10px 0; font-weight: normal;}
h4 { font-size: 16px; margin: 10px 0; font-weight: normal;}
hr {height: 1px; border: 0; }
p { margin: 15px 0;}
a img { border: none; }

body {
  font-size: 12px;
  font-family: sans-serif;
    color: #333;
  background: #EBEBEB;
}

/* forms */

input.checkbox {
  margin: 0;
  padding: 0;
}

.form .group {
  margin-bottom: 15px;
}

.form div.left {
  width: 20%;
  float: left;
}

.form div.right {
  width: 75%;
  float: right;
}

.form .columns .column {
  width: 48%;
}

.form .columns .left {
  float: left;
}

.form .columns .right {
  float: right;
}

.form label.label, .form input.text_field, .form textarea.text_area {
  font-size: 1.2em;
  padding: 1px 0;
  margin: 0;
}

.form label.right {
  text-align: right;
}

.form input.checkbox, .form input.radio {
  margin-right: 5px;
}

.form label.checkbox, .form label.radio {
  line-height: 1.5em;
}

.form label.label {
  display: block;
  padding-bottom: 2px;  
  font-weight: bold;
}

.form div.fieldWithErrors label.label {
  display: inline;
}

.form .fieldWithErrors .error {
  color: red;
}

.form input.text_field, .form textarea.text_area {
  width: 100%;
  border-width: 1px;
  border-style: solid;
}

/* lists */

ul.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul.list li {
  clear: left;
  padding-bottom: 5px;
}

ul.list li .left {
  float: left;  
}

ul.list li .left .avatar {
  width: 50px;
  height: 50px;
}

ul.list li .item {
  margin-left: 80px;
}

ul.list li .item .avatar {
  float: left;
  margin: 0 5px 5px 0;
  width: 30px;
  height: 30px;
}

/* forms */

.form input.text, .form textarea.textarea {
  border: 1px solid #ddd;
  padding: 5px;
  width:99%;
}

.form input.text_field, .form textarea.text_area {
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-top: 2px solid #ccc;
  border-left: 2px solid #ccc;
  width:99%;
}

.form .navform {
  padding:10px;
  background-color: #eee;
  font-size:14px;
  border-bottom:1px solid #ddd;
  border-right:1px solid #ddd;
  border-top:1px solid #eee;
  border-left:1px solid #eee;
}

.form .navform input {
  font-size:14px;
}

.description {
  color:#aaa;
  font-family:Georgia, serif;
}

/* flash-messages */
.flash .message {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  text-align:center;
  margin:0 auto 5px;
  width:80%;
}
.flash .message p {
  margin:8px;
}
.flash .error {
  border: 1px solid #fbb;
  background-color: #fdd;
}
.flash .warning {
  border: 1px solid #fffaaa;
  background-color: #ffffcc;
}
.flash .notice {
  border: 1px solid #ddf;
  background-color: #eef;
}

/* lists */

ul.list li {
  border-bottom-color: #F0F0EE;
}

ul.list li .item .avatar {
  border-color: #F0F0EE;
  margin: 3px 10px 0 0;
}

ul.list li .left  {
  padding: 5px 5px;
}

/* box */
    
#box .block {
  background: #FFF;
  border: 1px solid #ddd;
  border-radius: 10px;
}

#box .block h2 {
  background: #576C82;  
  color: #FFF;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#box {
  width: 500px;
  margin: 50px auto;  
    padding-top:125px;
}

#box .block {
  margin-bottom: 20px;
}

#box .block h2 {
  padding: 10px 15px;
  margin: 0;  
}

#box .block .content {
  padding: 10px 20px;
}
