
#{extends 'Dentox/main.html' /}
#{set title:'DentoX2:Home' /}



<div id="dentox_content_wrapper">
	
    <div id="dentox_content">
    	
        <h2>Welcome to <span>Dental Clinic Management Software</span></h2>
      <p>This <a href="#" target="_parent">DentoX2 system</a> is complete Dental Practice Management System.You may use this system in your Dental Lab.</p>
      <p>
        DentoX2  is a complete Dental Practice Management Software which includes
        Dental Clinic or Hospital Management, setting of complete Digital Dental Office,
        Dental X-rays along with Dental Patient Motivation Software.
      </p>
        <div class="readmore"><a href="#">read more</a></div>
        
        <div class="cleaner_h40"></div>
        
        <h2>Our <span>Services</span></h2>
        <p>	Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illovitae dicta sunt explicabo.</p>
        
        <div class="col_w265 float_l">
            <h3>Web Design</h3>
            <div class="two_col_image">
                <a href="#"><img src="/public/images/dentox_image_02.png" alt="image" width="249" height="105" /></a>            </div>
          <p>Aenean cursus aesf aecenas aliquam, ligula idegers estas suscipit, nisisapien dignissim nibh, acvestibulum lore mur nain neque. </p>
            <div class="readmore"><a href="#">read more</a></div>
        </div>
        
        <div class="col_w265 float_r">
            <h3>Photography</h3>
            <div class="two_col_image">
                <a href="#"><img src="/public/images/dentox_image_03.png" alt="image" width="249" height="105" /></a> </div>
          <p>Phasellus convallis facilisis risus vitae fringilla. Aliquam imperdiet, est at scelerisque tincidunt, orci ipsum mattis est.</p>
            <div class="readmore"><a href="#">read more</a></div>
        </div>
    
    </div> <!-- end of content -->
    
    <div id="dentox_sidebar">
    	
        <h2>Latest <span>Features</span></h2>
        <div class="newsbox">
        	<div class="news_image"><span></span><img src="/public/images/dentox_image_04.png" alt="image" /></div>
            <p>Aenean cursus. Maecenas aliqu am, ligula id egestas suscipit, nisi sapien dignissim. </p>
            <div class="cleaner"></div><div class="readmore"><a href="#">read more</a></div>
        </div>
        <div class="newsbox">
        	<div class="news_image"><span></span><img src="/public/images/dentox_image_05.png" alt="image" /></div>
            <p>estibulum ullamcorper eros vel lectus sagittis aliquet aliquam ante pretium. </p>
            <div class="cleaner"></div><div class="readmore"><a href="#">read more</a></div>
        </div>
        <div class="newsbox">
        	<div class="news_image"><span></span><img src="/public/images/dentox_image_06.png" alt="image" /></div>
            <p>Praesent pretium purus ut lorem luctus ornare interdum diam eleifend. </p>
            <div class="cleaner"></div><div class="readmore"><a href="#">read more</a></div>
        </div>
        
        <div id="testimonial_newsletter">
            <div id="testimonial"> 
                <h2>Testimonial</h2>
                <p><img class="open" src="/public/images/open.png" alt="opening tag" />urabitur adipiscing tellus eu arcu tincidunt condimentum. Aliquam ipsum felis, pulvinar at lacinia at, commodo ut nisi. Nullam egestas fermentum nis.<img class="close" src="/public/images/close.png" alt="closing tag" /></p>
                <cite class="float_r"><a href="#">Vestibulum</a></cite>            </div>
            
            <div id="newsletter">
            	<h2>Newsletter</h2>
                <form action="#" method="get">
                
                	<input type="text" id="newsletter_email" />
                    <input type="submit" name="submit" value="Subscribe" id="newsletter_subscribe" />
                </form>
            </div>
    	</div>
        
    </div> <!-- end of slider -->
    
    <div class="cleaner_h30"></div>
    
    <div id="latest_projects">
    
	<div id="latest_project_text">
            <h2>Screen Shots</h2>
            <p>	Sedut perspiciatis unde omnis iste natus error sit volup tatem accus antium dolorem que lauda ntiumAt vero eos et accusamus et iusto odio.</p>
        </div>
        
        <div class="project_image_box margin_r15">
            <div class="project_image"><span></span>
            	<img src="/public/images/dentox_image_07.png" alt="image 1" />
            </div>
            <h5><a href="#">sed ut perspiciatis.</a></h5>
	  </div>
        
	<div class="project_image_box margin_r15">
            <div class="project_image"><span></span>
            	<img src="/public/images/dentox_image_08.png" alt="image 2" />
            </div>
        	<h5><a href="#">emque laudantium</a></h5>
	  </div>
        
	<div class="project_image_box margin_r15">
            <div class="project_image"><span></span>
            	<img src="/public/images/dentox_image_09.png" alt="image 3" />
            </div>
        <h5><a href="#">eaque ipsa quae</a></h5>
	  </div>
        
      <div class="project_image_box">
	<div class="project_image"><span></span>
            	<img src="/public/images/dentox_image_10.png" alt="image 4" />
            </div>
          <h5><a href="#">similique sunt.</a></h5>
	  </div>

    </div>
	
	<div  class="cleaner"></div>
</div> <!-- end of content wrapper -->
    