#{if _as == 'full'}
<hr>
    <b>Patient ID : </b>${_patient.id}<br><hr>
    <b>Patient First Name : </b>${_patient.firstName}<br><hr>
    <b>Patient Last Name : </b>${_patient.lastName}<br><hr>
    <b>Patient Gender : </b>${_patient.gender}<br><hr>
    <b>Date of Birth : </b>${_patient.birthAt}<br><hr>
    <b>Address : </b>${_patient.address}<br><hr>
    <b>Patient Phone Number : </b>${_patient.phoneNumber}<br><hr>
    <b>Date of Visit : </b>${_patient.visitedAt}<br><hr>
    <b>Treatment Lists :</b>
    
                ${_patient.treatments.size() ?: 'no'} 
                treatment${_patient.treatments.size().pluralize()}</a>
                #{if _patient.treatments}
                    , latest by ${_patient.treatments[0].author}
                #{/if}
<hr>
    #{list items:_patient.treatments, as:'treatment'}
	<table border="0">
	    <tr>
		<td><font size="1"><b>Doctor Name </b></font></td>
		<td>&nbsp</td>
                <td><font size="1"><b>${treatment.author},</b></td>
	    </tr>
	    <tr>
		<td><font size="1"><b>Treatment Date </b></font> </td>
		<td>&nbsp</td>
		<td><font size="1">${treatment.postedAt.format('dd MMM yy')}</td>
	    </tr>
	    <tr>
		<td><font size="1"><b>Description </b></font></td>
		<td>&nbsp</td>
		<td><font size="1">${treatment.content.escape().nl2br()}</td>
	    </tr>
	</table>
        <hr>
     #{/list}
     <br>
<hr>
    
#{/if}

#{if _as == 'fullDoctor'}
    <hr>
    <b>Enter By : </b>${_doctor.author.fullname}<br><hr>    
    <b>Doctor's ID : </b>${_doctor.id}<br><hr>
    <b>Doctor's First Name : </b>${_doctor.firstName}<br><hr>
    <b>Doctor's Last Name : </b>${_doctor.lastName}<br><hr>
    <b>Gender : </b>${_doctor.gender}<br><hr>
    <b>Phone Number : </b>${_doctor.phoneNumber}<br><hr>
    <b>Address : </b>${_doctor.address}<br><hr>
    <b>Date of Birth : </b>${_doctor.birthAt}<br><hr>
    <b>Licence Number : </b>${_doctor.licenceNo}<br><hr>
    <b>Emergency Number : </b>${_doctor.emergencyNo}<br><hr>
    <b>Specialities : </b>${_doctor.specialities}<br><hr>
    <b>Date of Join : </b>${_doctor.joinedAt}<br><hr>
 
 
#{/if}

#{if _as == 'fullClinic'}
<hr>
    <b>Clinic ID : </b>${_clinic.id}<br><hr>
    <b>Clinic Name : </b>${_clinic.name}<br><hr>
    <b>Branch : </b>${_clinic.branch}<br><hr>
    <b>Opening Time : </b>${_clinic.openAt}<br><hr>
    <b>Closing Time : </b>${_clinic.closeAt}<br><hr>
 
#{/if}


#{if _as == 'Patientlist'}
    <div class="real-content>
		    <tr class="odd">
		        <td>&nbsp</td>
		        <td >${_patient.id}</td>
			<td>${_patient.author.fullname}</td>
		        <td >${_patient.firstName}</td>
		        <td>${_patient.lastName}</td>
		        <td class="last">
                        #{secure.check 'admin'}
                            <a href="@{AppPatient.delete(_patient.id)}">Destroy</a>
                        #{/secure.check}
                	| <a href="@{AppPatient.show(_patient.id)}">show</a> |
                        <a href="@{AppPatient.form(_patient.id)}">edit</a> | </a>
		        </td>
		    </tr>
</tr>

#{/if}

#{if _as == 'Doctorlist'}
		    <tr class="odd">
		        <td>&nbsp</td>
		        <td >${_doctor.id}</td>
			<td>${_doctor.author.fullname}</td>
		        <td>${_doctor.firstName}</td>
		        <td>${_doctor.lastName}</td>
		        <td class="last">
                        #{secure.check 'admin'}
			    <a href="@{AppOffice.deleteDoctor(_doctor.id)}">Destroy</a>
                        #{/secure.check}
			| <a href="@{AppOffice.showDoctor(_doctor.id)}">show</a> |
                        <a href="@{AppOffice.doctorForm(_doctor.id)}">edit</a> | </a>
		        </td>
		    </tr>

#{/if}

#{if _as == 'Cliniclist'}
		    <tr class="odd">
		        <td>&nbsp</td>
		        <td >${_clinic.id}</td>
                        <td >${_clinic.clinicID}</td>
			<td>${_clinic.author.fullname}</td>
		        <td>${_clinic.name}</td>
		        <td>${_clinic.openAt}</td>
		        <td>${_clinic.closeAt}</td>
		        <td class="last">
                        #{secure.check 'admin'}
                            <a href="@{AppOffice.deleteClinic(_clinic.id)}">Destroy</a>
                        #{/secure.check}
			| <a href="@{AppOffice.showClinic(_clinic.id)}">show</a> |
                        <a href="@{AppOffice.clinicForm(_clinic.id)}">edit</a> | </a>
		        </td>
		    </tr>

#{/if}

#{if _as == 'DentalCodelist'}
		    <tr class="odd">
		        <td>&nbsp</td>
		        <td >${_dentalCode.id}</td>
			<td>${_dentalCode.code}</td>
		        <td>INR ${_dentalCode.unit_cost}</td>
		        <td>${_dentalCode.desc}</td>
		        <td class="last">
			    <a href="#">Destroy</a>
			| <a href="#">show</a> |
                        <a href="@{AppAccount.dentalCodeForm(_dentalCode.id)}">edit</a> | </a>
		        </td>
		    </tr>

#{/if}


#{if _as == 'Resultlist'}
    <div class="real-content>
		    <tr class="odd">
		        <td>&nbsp</td>
		        <td >${_result.id}</td>
			<td>${_result.author.fullname}</td>
		        <td >${_result.firstName}</td>
		        <td>${_result.lastName}</td>
		        <td class="last">

                       #{secure.check 'admin'}
                            <a href="@{AppPatient.delete(_result.id)}">Destroy</a>
                        #{/secure.check}
			| <a href="@{AppPatient.show(_result.id)}">show</a> |
                        <a href="@{AppPatient.form(_result.id)}">edit</a> | </a>
		        </td>
		    </tr>
</tr>

#{/if}

#{if _as == 'searchResult_Documentlist'}
    <div class="real-content>
		    <tr class="odd">
		        <td>&nbsp</td>
		        <td >${_result.id}</td>
			<td >${_result.firstName}</td>
		        <td>${_result.comment}</td>
			<td>
			    #{if _result?.document?.exists()}
	    		    <a href="@{getDocument(_result.id)}">
			        Download File
				(${_result?.document?.length().formatSize()})
			    </a>
			#{/if}
			</td>
		        <td class="last">
			#{secure.check 'admin'} 
                            <a href="@{AppPatient.deleteDocument(_result.id)}">Destroy</a>
			#{/secure.check}
                        | <a href="@{AppPatient.getDocument(_result.id)}">Download</a>
			</td>
		    </tr>
</tr>
#{/if}


#{if _as == 'dentShedulelist'}
		    <tr class="odd">
		        <td>&nbsp</td>
		        <td >${_dentShedule.id}</td>
                        <td >${_dentShedule.PIN}</td>
                        <td>${_dentShedule.firstName}</td>
		        <td>${_dentShedule.lastName}</td>
		        <td>${_dentShedule.startAt}</td>
		        <td>${_dentShedule.endAt}</td>
		        <td class="last">
                        #{secure.check 'admin'}
			    <a href="@{AppOffice.deleteDentistShedule(_dentShedule.id)}">Destroy</a>
			#{/secure.check}
                        | <a href="@{AppOffice.showDentistShedule(_dentShedule.id)}">show</a> |
                        <a href="@{AppOffice.dentistSheduleForm(_dentShedule.id)}">edit</a> | </a>
		        </td>
		    </tr>

#{/if}


<!-- POST --->

#{if _as == 'home'}
<div class="post ${_as == 'teaser' ? 'teaser' : ''}">
    <h2 class="post-title">
        <a href="@{Dentox.show(_post.id)}">${_post.title}</a>
    </h2>
    <div class="post-metadata">
        <span class="post-author">by ${_post.author.fullname}</span>,
        <span class="post-date">${_post.postedAt.format('dd MMM yy')}</span>
            <span class="post-comments">
                &nbsp;|&nbsp; ${_post.comments.size() ?: 'no'} 
                comment${_post.comments.size().pluralize()}
                #{if _post.comments}
                    , latest by ${_post.comments[0].author}
                #{/if}
            </span>
    </div>
        <div class="post-content">
            <div class="about">Detail: </div>
            ${_post.content.nl2br()}
        </div>
</div>


#{/if}

#{if _as == 'teaser'}

<div class="post ${_as == 'teaser' ? 'teaser' : ''}">
    <h2 class="post-title">
        <a href="@{Dentox.show(_post.id)}">${_post.title}</a>
    </h2>

    <div class="post-metadata">
        <span class="post-author">by ${_post.author.fullname}</span>,
        <span class="post-date">${_post.postedAt.format('dd MMM yy')}</span>
            <span class="post-comments">
                &nbsp;|&nbsp; ${_post.comments.size() ?: 'no'} 
                comment${_post.comments.size().pluralize()}
                #{if _post.comments}
                    , latest by ${_post.comments[0].author}
                #{/if}
            </span>
    </div>
</div>
#{/if}


#{if _as == 'fullPost'}
<div class="post ${_as == 'teaser' ? 'teaser' : ''}">
    <h2 class="post-title">
        <a href="@{Dentox.show(_post.id)}">${_post.title}</a>
    </h2>    
    <div class="comments">
        
        
        <div class="post-metadata">
        <span class="post-author">by ${_post.author.fullname}</span>,
        <span class="post-date">${_post.postedAt.format('dd MMM yy')}</span>
        <span class="post-comments">
        &nbsp;|&nbsp; ${_post.comments.size() ?: 'no'} 
        comment${_post.comments.size().pluralize()}
        #{if _post.comments}
            , latest by ${_post.comments[0].author}
        #{/if}
        </span>
        </div>


        <div class="post-content">
            <div class="about">Detail: </div>
            ${_post.content.nl2br()}
        </div>
       
        #{list items:_post.comments, as:'comment'}
            <div class="comment">
                <div class="comment-metadata">
                    <span class="comment-author">by ${comment.author},</span>
                    <span class="comment-date">
                        ${comment.postedAt.format('dd MMM yy')}
                    </span>
                </div>
                <div class="comment-content">
                    <div class="about">Detail: </div>
                    ${comment.content.escape().nl2br()}
                </div>
            </div>
        #{/list}
    </div>
</div>
#{/if}


#{if _as == 'Tasklist'}
		    <tr class="odd">
		        <td>&nbsp</td>
		        <td >${_task.id}</td>
                        <td>${_task.doctor}</td>
			<td>${_task.task}</td>
		        <td>${_task.note}</td>
		        <td>${_task.createDate}</td>
		        <td>${_task.dueDate}</td>
		        <td class="last">
                        #{secure.check 'admin'}
                            <a href="#">Destroy</a>
                        #{/secure.check}
			| <a href="#">show</a> |
                        <a href="@{AppPatient.taskForm(_task.id)}">edit</a> | </a>
		        </td>
		    </tr>

#{/if}
