#{extends 'main.html' /}
#{set title:'DentoX2 : New Patient' /}

<div class="block" id="block-text">
          <div class="secondary-navigation">
            <ul>
		<li><a href="@{AppPatient.index()}">About</a></li>
		<li class="active first"><a href="@{AppPatient.patient_table}">Patient's Table</a></li>
		<li><a href="@{AppPatient.patientCharting()}">Charting</a></li>
		<li><a href="@{AppPatient.patientDocument()}">Document</a></li>
		<li><a href="@{AppPatient.patientReminder()}">Reminders</a></li>
		<li><a href="@{AppPatient.patientList()}">Lists</a></li>    
	    </ul>
            <div class="clear"></div>
          </div>
          <div class="content">
            <h2 class="title">Patient Form</h2>
            <div class="inner">

            #{ifnot patient?.id}
                <h3>Create, <span>a new patient</span></h3>
            #{/ifnot}
            #{else}
                <h3>Edit, <span>this patient</span></h3>
            #{/else}
             
            #{form @save(patient?.id)}
                #{ifErrors}
                <div  class="flash">
                <div class="message error">
                  <p>Oops ! Please check the Errors .</p>
                </div>
                </div>
            #{/ifErrors}
                
                <input type="hidden" name="patient.id" value="${patient?.id}">
                <br><hr>
                <p>
                    #{field 'firstName'}
                    <label>Patient First Name :</label>
                    <input type="text" name="firstName" 
                        value="${patient?.firstName}" class="${field.errorClass}" />
                    <span class="error">${errors.forKey('patient.firstName')}</span>
                    #{/field}
                </p>
		<br><hr>
                <p>
                    #{field 'lastName'}
                    <label>Patient Last Name :</label>
                    <input type="text" name="lastName" 
                        value="${patient?.lastName}" class="${field.errorClass}" />
                    <span class="error">${errors.forKey('patient.lastName')}</span>
                    #{/field}
                </p>
		<br><hr>
                <p>
                    #{field 'address'}
                    <label>Address :</label>
                    <input type="text" name="address" size=40 
                        value="${patient?.address}" class="${field.errorClass}" />
                    <span class="error">${errors.forKey('patient.address')}</span>
                    #{/field}
                </p>
		<br><hr>
                <p>
                    #{field 'phoneNumber'}
                    <label>Phone Number :</label>
                    <input type="text" name="phoneNumber" 
                        value="${patient?.phoneNumber}" class="${field.errorClass}" />
                    <span class="error">${errors.forKey('patient.phoneNumber')}</span>
                    #{/field}
                </p>
		<br><hr>
                <p>
                    #{field 'birthAt'}
                    <label>Date of Birth :</label>
                    <input type="text" name="birthAt" id="birthAt" 
                        value="${patient?.birthAt?.format('yyyy-MM-dd')}" class="${field.errorClass}" />
                    <span class="error">${errors.forKey('patient.birthAt')}</span>
                    #{/field}
                </p>
		<br><hr><br>                
                <p>
                    #{field 'gender'}
                    <label>Gender :</label>
                    <select name="gender" 
                        value="${patient?.gender}" class="${field.errorClass}" />
			      <option>Male</option>
			      <option>Female</option>
		    </select>
                    <span class="error">${errors.forKey('patient.gender')}</span>
                    #{/field}
                </p>
		<br><hr>
                <p>
                    #{field 'healthStatus'}
                    <label>Health Status :</label>
                    <input type="text" name="healthStatus" size=40
                        value="${patient?.healthStatus}" class="${field.errorClass}" />
                    <span class="error">${errors.forKey('patient.healthStatus')}</span>
                    #{/field}
                </p>
		<br><hr>
                <p>
                    #{field 'hin'}
                    <label>Health Insurance :</label>
                    <input type="text" name="hin" 
                        value="${patient?.hin}" class="${field.errorClass}" />
                    <span class="error">${errors.forKey('patient.hin')}</span>
                    #{/field}
                </p>
		<br><hr>
                <p>
                    #{field 'visitedAt'}
                    <label>Date of visit:</label>
                    <input type="text" name="visitedAt" id="visitedAt" 
                        value="${patient?.visitedAt?.format('yyyy-MM-dd')}" class="${field.errorClass}" />
                    <span class="error">${errors.forKey('patient.visitedAt')}</span>
                    #{/field}
                </p>
		<br><hr><br>
                <p>
                    <input type="submit" value="Create a patient" />
                </p>
                <br><hr>
	  	  <script type="text/javascript" charset="utf-8">
                        $(function() {
                            $( "#birthAt" ).datepicker({
                                changeMonth: true,
                                changeYear: true,
                                dateFormat:'yy-mm-dd', showAnim:'fadeIn'
                            });
                        });
	  	  </script>
                
                    <script>
                
                        $(function() {
                            $( "#birthAt" ).datepicker({
                                changeMonth: true,
                                changeYear: true
                            });
                        });
                    </script>

	  	  <script type="text/javascript" charset="utf-8">
	  	      $("#visitedAt").datepicker({dateFormat:'yy-mm-dd', showAnim:'fadeIn'})
	  	  </script>
                  
            #{/form}
            </div>
          </div>
        </div>
