#{extends 'main.html' /}
#{set title:patient.firstName /}

            <div class="block" id="block-tables">
          <div class="secondary-navigation">
            <ul>
		<li><a href="@{AppPatient.index()}">About</a></li>
		<li class="active first"><a href="@{AppPatient.patient_table}">Patient's Table</a></li>
		<li><a href="@{AppPatient.patientCharting()}">Charting</a></li>
		<li><a href="@{AppPatient.patientDocument()}">Document</a></li>
		<li><a href="@{AppPatient.patientReminder()}">Reminders</a></li>
		<li><a href="@{AppPatient.patientList()}">Lists</a></li>    
	    </ul>
	    <div class="clear"></div>
          </div>
          <div class="content">
            <h2 class="title">
		Patient Details : ${patient.firstName} ${patient.lastName}
		<!-- 
		<form align="right">
			<input type="text"><input type="submit" value="Search Patient">
		</form>
	  -->
		    
	    </h2>
                        <div class="inner">
                          <form action="#" class="form">
                            <table class="table">
                                <tr>
                                <!-- 
                                    #{if flash.success}
                                    <p class="success">${flash.success}</p>
                                    #{/if}
                                    -->
				    #{if patient}
					#{display patient:patient,as:"full" /}
				    #{/if}
                                    
                                        
				</tr>
                        </table>
                          </form>
		    <h3>Treatment</h3>
		     
		    #{form @AppPatient.postTreatment(patient.id)}
		     
			#{ifErrors}
			    <p class="error">
				All fields are required!
			    </p>
			#{/ifErrors}
		     
		    <p>
			#{field 'author'}
			  <label>Doctor Name :</label>
			  <input type="text" name="author" 
			    value="${comment?.author}" class="${field.errorClass}" />
			  <span class="error">${errors.forKey('comment.author')}</span>
			#{/field}
		    </p>
		      <br><hr>
	      <!-- 
	              <p>
		      #{field 'postedAt'}
		        <label>Date of Post :</label>
		        <input type="text" name="postedAt" id="postedAt" 
		          value="${treatment?.postedAt?.format('yyyy-MM-dd')}" class="${field.errorClass}" />
		        <span class="error">${errors.forKey('treatment.postedAt')}</span>
		        #{/field}
		      </p>
		      <br><hr>
		      <p>
		   -->
		      #{field 'content'}
			<label>Comment :</label>
			<input type="text" name="content" 
			  value="${comment?.content}" class="${field.errorClass}" />
			<span class="error">${errors.forKey('comment.content')}</span>
		      #{/field}
		      </p>
		      <br><hr>
			<p>
			    <input type="submit" value="Submit your comment" />
			</p>
		    #{/form}
                         
                </div>
          </div>
          </div>