#{extends 'main.html' /}
#{set title:'DentoX2 : New Doctor' /}

<div class="block" id="block-text">
          <div class="secondary-navigation">
            <ul>
		<li><a href="@{AppOffice.index()}">About</a></li>
		<li><a href="@{AppOffice.clinic_table()}">Clinic Info</a></li>
		<li class="active first"><a href="@{AppOffice.doctor_table()}">Dentist Info</a></li>
		<li><a href="@{AppOffice.dentistShedule()}">Dentist Shedule</a></li>
		<li><a href="#">Reminders</a></li>
	    </ul>
            <div class="clear"></div>
          </div>
          <div class="content">
            <h2 class="title">Doctors Form</h2>
            <div class="inner">

            #{ifnot doctor?.id}
                <h3>Enter , <span> new Doctor's Entry</span></h3>
            #{/ifnot}
            #{else}
                <h3>Edit, <span>this Doctor's Entry</span></h3>
            #{/else}
             
            #{form @saveDoctor(doctor?.id)}
                #{ifErrors}
                <div  class="flash">
                <div class="message error">
                  <p>Oops ! Please check the Erros .</p>
                </div>
                </div>
                #{/ifErrors}
                
                <input type="hidden" name="doctor.id" value="${doctor?.id}">
                <br><hr>                 
                <p>
                    #{field 'firstName'}
                    <label>Doctor's First Name:</label>
                    <input type="text" name="firstName" 
                        value="${doctor?.firstName}" class="${field.errorClass}" />
                    <span class="error">${errors.forKey('doctor.firstName')}</span>
                    #{/field}
                </p>
                <br><hr>
                <p>
                    #{field 'lastName'}
                    <label>Doctor's Last Name:</label>
                    <input type="text" name="lastName" 
                        value="${doctor?.lastName}" class="${field.errorClass}" />
                    <span class="error">${errors.forKey('doctor.lastName')}</span>
                    #{/field}
                </p>
                <br><hr>
                <p>
                    #{field 'phoneNumber'}
                    <label>Phone Number:</label>
                    <input type="text" name="phoneNumber" 
                        value="${doctor?.phoneNumber}" class="${field.errorClass}" />
                    <span class="error">${errors.forKey('doctor.phoneNumber')}</span>
                    #{/field}
                </p>
                <br><hr>
                <p>
                    #{field 'address'}
                    <label>Address:</label>
                    <input type="text" name="address"  size="40"
                        value="${doctor?.address}" class="${field.errorClass}" />
                    <span class="error">${errors.forKey('doctor.address')}</span>
                    #{/field}
                </p>
                <br><hr>
                <p>
                    #{field 'gender'}
                    <label>Gender :</label>
                    <select name="gender" 
                        value="${doctor?.gender}" class="${field.errorClass}" />
			      <option>Male</option>
			      <option>Female</option>
		    </select>
                    <span class="error">${errors.forKey('doctor.gender')}</span>
                    #{/field}
                </p>
                <br><hr>
                
                <p>
                    #{field 'birthAt'}
                    <label>Date of Birth:</label>
                    <input type="text" name="birthAt" id="birthAt"
                        value="${doctor?.birthAt?.format('yyyy-MM-dd')}" class="${field.errorClass}" />
                    <span class="error">${errors.forKey('doctor.birthAt')}</span>
                    #{/field}
                </p>
                
                <br><hr>
                <p>
                    #{field 'licenceNo'}
                    <label>Licence Number :</label>
                    <input type="text" name="licenceNo" 
                        value="${doctor?.licenceNo}" class="${field.errorClass}" />
                    <span class="error">${errors.forKey('doctor.licenceNo')}</span>
                    #{/field}
                </p>
                <br><hr>
                <p>
                    #{field 'specialities'}
                    <label>Doctor's Specialities :</label>
                    <input type="text" name="specialities" size="40"
                        value="${doctor?.specialities}" class="${field.errorClass}" />
                    <span class="error">${errors.forKey('doctor.specialities')}</span>
                    #{/field}
                </p>
                <br><hr>
                <p>
                    #{field 'emergencyNo'}
                    <label>Emergency Number:</label>
                    <input type="text" name="emergencyNo" 
                        value="${doctor?.emergencyNo}" class="${field.errorClass}" />
                    <span class="error">${errors.forKey('doctor.emergencyNo')}</span>
                    #{/field}
                </p>
                <br><hr>
                <p>
                    #{field 'joinedAt'}
                    <label>Date of joining:</label>
                    <input type="text" name="joinedAt" id="joinedAt"
                        value="${doctor?.joinedAt?.format('yyyy-MM-dd')}" class="${field.errorClass}" />
                    <span class="error">${errors.forKey('doctor.joinedAt')}</span>
                    #{/field}
                </p>
                
                <br><hr>
                <p>
                    <input type="submit" value="Create Doctor" />
                </p>
                <br><hr>
	  	  <script type="text/javascript" charset="utf-8">
	  	      $("#joinedAt").datepicker({dateFormat:'yy-mm-dd', showAnim:'fadeIn'})
	  	  </script>

	  	  <script type="text/javascript" charset="utf-8">
	  	      $("#birthAt").datepicker({dateFormat:'yy-mm-dd', showAnim:'fadeIn'})
	  	  </script>
                
            #{/form}
            </div>
          </div>
        </div>
