#{extends 'main.html' /}
#{set title:'DentoX2 : An System For Dentist' /}

<div class="block" id="block-text">
          <div class="secondary-navigation">
            <ul>
              <li class="active first"><a href="@{AppAccount.index()}">About</a></li>
              <li><a href="@{AppAccount.dentalCode_table()}">Dental Codes</a></li>
              
            <!-- 
              <li><a href="#block-tables">Charting</a></li>
              <li><a href="#block-messages">Document</a></li>
              <li><a href="#block-forms-2">Reminders</a></li>
              <li><a href="#block-lists">Lists</a></li>
                -->
            </ul>
            <div class="clear"></div>
          </div>
          <div class="content">
            <h2 class="title">Sushruts </h2>
            <div class="inner">
              <p class="first">
                
		<b>Sushruts </b>Technologies provides you with the software tools to run your
	      dental practice effectively and increase productivity.
	      Complete Patient Data Management -Patient demographics,
	      Health alerts, allergies Clinical data, Recalls,
	      Dental Charting for Work Progress, Perio conditions give
	      you up to date patient information in an easy to comprehend graphical format
		
	
	      </p>
              <p>
                              <p> <span class="gray">
                Lets Know more of what this is all about !!!
              </span></p>
                              <hr />
                <br>
                <ul id="questionnaires">
                    <li><a href="#">What can you aspect from this System ?</a></li>
                    <li><a href="#">What we have ,we say its easy ?</a></li>
                    <li><a href="#">Whats lean and mean ?</a></li>
                    <li><a href="#">What have you got for charts ?</a></li>
                    <li><a href="#">How Secure you are ?</a></li>
                </ul>
              </p>

            </div>
          </div>
        </div>
