#{extends 'main.html' /}
#{set title:'DentoX2 : New Doctor' /}

<div class="block" id="block-text">
          <div class="secondary-navigation">
            <ul>
            <li><a href="@{AppAccount.index()}">About</a></li>
            <li class="active first"><a href="@{AppAccount.dentalCode_table()}">Dental Codes</a></li>
            </ul>
            <div class="clear"></div>
          </div>
          <div class="content">
            <h2 class="title">Dental Code</h2>
            <div class="inner">

            #{ifnot dentalCode?.id}
                <h3>Enter , <span> new Dental Code</span></h3>
            #{/ifnot}
            #{else}
                <h3>Edit, <span>Dental Code</span></h3>
            #{/else}
             
            #{form @saveDentalCode(dentalCode?.id)}
                #{ifErrors}
                <div  class="flash">
                <div class="message error">
                  <p>Oops ! Please check the Errors .</p>
                </div>
                </div>
                #{/ifErrors}
                
                <input type="hidden" name="dentalCode.id" value="${dentalCode?.id}">
                    
                <br><hr>                 
                <p>
                    #{field 'code'}
                    <label>Dental Code :</label>
                    <input type="text" name="code" 
                        value="${dentalCode?.code}" class="${field.errorClass}" />
                    <span class="error">${errors.forKey('dentalCode.code')}</span>
                    #{/field}
                </p>
                <br><hr>
                <p>
                    #{field 'unit_cost'}
                    <label>Unit Cost :</label>
                    <input type="text" name="unit_cost" 
                        value="${dentalCode?.unit_cost}" class="${field.errorClass}" />
                    <span class="error">${errors.forKey('dentalCode.unit_cost')}</span>
                    #{/field}
                </p>
                <br><hr>
                <p>
                    #{field 'desc'}
                    <label>Desctiption :</label>
                    <input type="text" name="desc" 
                        value="${dentalCode?.desc}" class="${field.errorClass}" />
                    <span class="error">${errors.forKey('dentalCode.desc')}</span>
                    #{/field}
                </p>
                
                <br><hr>
                <p>
                    <input type="submit" value="Create Dental Code" />
                </p>
                <br><hr>
            #{/form}
            </div>
          </div>
        </div>
